extends ./layout.jade

block scripts
  script.
    $(function() {
      var eventId = window.location.pathname.substring(9)
        , user;

      $.getJSON("https://api.tnyu.org/v2/people/me")
        .done(function(data) { 
          // if we're already logged in, let's do the check in.
          $.getJSON('https://api.tnyu.org/v2/events/' + eventId + '/check-in')
            .done(function() {
              window.location.pathname = '/thanks/' + eventId;
            })
            .fail(function() {
               alert('an unknown error...');  
            })
        })
        .fail(function() {
          // try to log in if we aren't already
          window.location = "https://api.tnyu.org/v2/auth/facebook?success=" + encodeURIComponent(window.location);
        });
    });
  
    