extends ./layout.jade

block scripts
  script.
    $(function() {
      $('input').click(function() {
        $(this).select();
      });
    });

block body
  table(style="width:100%")
    each event in events
      tr
        th= event.attributes.title
        td
          input(value= event.checkInUrl, style="width:15em")