doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    link(rel="stylesheet", href="http://techatnyu.org/css/screen.css")
    block title
      title Tech@NYU Event Check In

    script(src="//use.typekit.net/bpm7cfb.js")
    script try{Typekit.load();}catch(e){}
    script(src='http://cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.min.js', slave='https://api.tnyu.org/v1.0/proxy.html')
    style.
      .container {
        max-width: 30em !important; margin: 1em auto;
      }
  body
    .container
      header
        block h1
          h1 Tech@NYU Event Check In

      block body

    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-61703314-1', 'auto');
      ga('send', 'pageview');
    block scripts
      //
