doctype html
html
  head
    meta(charset='utf-8')
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    block title
      title Tech@NYU Event Check In

    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='http://cdn.rawgit.com/jpillora/xdomain/0.6.15/dist/0.6/xdomain.min.js', slave='https://api.tnyu.org/v1.0/proxy.html')

  body
    .container
      header
        h1 Tech@NYU Event Check In

      block body

    script(src='//code.jquery.com/jquery-1.11.2.min.js')
    block scripts
      //
