extends ./layout.jade

block h1
  h1 You're All Set!

block body
  p Thanks for checking in. We hope you enjoy the event.

  p.shared(style="display:none") You'll be <b>automatically signed out of facebook</b> in a few seconds so the next person can check in too.

  p.personal(style="display:none") You can close this page now!

block scripts
  script.
    $(function() {
      var isSharedComputer = window.location.search.match(/config/i);
      // we need to log the user out of facebook and 
      // go back to the start for the next person in line.
      if(isSharedComputer) {
        $('.shared').show();
        function done() {
          var eventUrl = [window.location.protocol, '//', window.location.host, window.location.pathname.toString().replace('thanks', 'show')].join('');
          window.location = "https://api.tnyu.org/v2/auth/facebook/logOut?doExternalServiceLogout=true&next=" + encodeURIComponent(eventUrl);
        }
        setTimeout(done, 4000);
      }
      else {
        $('.personal').show();
      }
    });