<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="events">
        <h2>{{events.attributes.title}} <span ng-if="canReset" ng-click="resetFields()" role="button" class="button flatButton">Reset</span></h2>
        <p><span>{{events.attributes.description}}</span></p>
        <div class="right">
            <p>Total RSVPs: {{totalRsvps}}</p>
            <p>Checkins From RSVP: {{checkinsFromRSVP}}
            <p>Total Checkins: {{totalCheckins}}</p>
            <p>Capacity: {{seatCount}}<p>
        </div>
        <div ng-if="needId">
            <form name="idNumber" ng-submit="findPersonNumber(dirty.nNumber)" novalidate>
            	<input id="idField" class="button flatButton" type="text" placeholder="Swipe your id" ng-model="dirty.nNumber" ng-disabled="person.attributes.name || needName" autofocus />
                <p ng-if="nFailValidation"> Something is wrong with the id number entered</p>
            </form>
            <br>
        </div>

        <p ng-click="notAStudent()" role="button" class="button flatButton">
            <span ng-show="nyuStudent">Not an NYU Student?</span>
            <span ng-hide="nyuStudent">NYU Student?</span>
        </p>
        <div ng-if="needName">
        	<h2>Name?</h2>
        	<div mass-autocomplete>
        		<form name="name" ng-submit="findPersonName(dirty.value)" novalidate>
                	<input id="nameField" class="button flatButton" placeholder="Enter your name" ng-model="dirty.value" mass-autocomplete-item="autocomplete_options" ng-disabled="person.attributes.name || needEmail" />
                    <p ng-if="nameFailValidation"> Something is wrong with the name entered (make sure it's first and last!)</p>
                </form>
            </div>
        </div>
        <div ng-if="needEmail">
        	<h2>...and your email?</h2>
        	<form name="email" ng-submit="findPersonEmail(dirty.email)" novalidate>
            	<input id="emailField" class="button flatButton" type="email" ng-model="dirty.email" ng-disabled="allEntered" />
                <p ng-if="emailFailValidation"> Something is wrong with the email entered</p>
            </form>
            <p ng-if="readyForNew" ng-click="submission()" role="button" class="button flatButton">Submit</p>
        </div>
        <div ng-if="checking && person.attributes.name">
        	<h2>Hello {{person.attributes.name}}!</h2>
        	<p ng-show="rsvpd">You have been successfully signed in!</p>
        	<p ng-hide="rsvpd">Checking you in now...</p>
        </div>
    </div>
    <div ng-repeat="notice in alerts">
        <p>{{notice}}</p>
    </div>
    <div ng-if="needsRsvpOverride">
        <p ng-click="override()" role="button" class="button flatButton">Override?</p>
        <p ng-click="resetFields()" role="button" class="button flatButton">Reset</p>
    </div>
</div>
