<div cg-busy="{promise: loadingPromise, templateUrl: 'partials/loadingtemplate.html'}">
    <div ng-if="events">
        <section id="events">
            <div ng-if="events.length == 1">
                <h2>{{events[0].attributes.title}}</h2>
                <p>{{events[0].attributes.description}}</p>
                <a ng-if="isTeamMember == true" role="button" class="button flatButton" ui-sref="event({id: events[0].id, config: {{shared}} })">Check in to this Event</a>
                <a ng-if="isTeamMember == false" role="button" class="button flatButton" ui-sref="checkin({id: events[0].id, config: {{shared}} })">Check in to this Event</a>
            </div>
            <table ng-if="events.length > 1">
                <tr ng-repeat="event in events">
                    <th style="padding-right: 10px;">{{event.attributes.title}}</th>
                    <td><a ng-if="isTeamMember == true" role="button" class="button flatButton" ui-sref="event({id: event.id, config: {{shared}} })">I'm at this event!</a></td>
                    <td><a ng-if="isTeamMember == false" role="button" class="button flatButton" ui-sref="checkin({id: event.id, config: {{shared}} })">I'm at this event!</a></td>
                </tr>
            </table>
        </section>
    </div>
    <div ng-if="events && events.length == 0">
        <h2>Hold your horses.</h2>
        <p>We know tech@nyu events are exciting but, unfortunately, our next one
        isn't for at least a couple hours. You're just going to have to be patient.
        In the mean time, check out our full <a href="http://techatnyu.org/#event-calendar">events calendar</a>.</p>
    </div>
</div>